# Ignore node_modules and build outputs
frontend/node_modules
frontend/.pnp
frontend/.pnp.*
frontend/.yarn/*
frontend/!.yarn/patches
frontend/!.yarn/plugins
frontend/!.yarn/releases
frontend/!.yarn/versions
frontend/coverage

next.js
frontend/.next/
frontend/out/

frontend/build

frontend/.DS_Store
frontend/.pem

frontend/npm-debug.log
frontend/yarn-debug.log*
frontend/yarn-error.log*
fronten/.pnpm-debug.log*

env files (can opt-in for committing if needed)
frontend/.env*

frontend/.vercel
frontend/*.tsbuildinfo
frontend/next-env.d.ts

__pycache__/
*.pyc
venv/
*.csv